<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
  
</head>
<body>
  <header>
    <h1>Welcome <%= data.user.name %> </h1>
    <div class="button-container">
      <button id="profileButton">Profile</button>
      <button id="logoutButton">Logout</button>
      <button id="logoutAllButton">Logout All</button>
    </div>
  </header>

  <main>
    <!-- Content of the dashboard -->
    <h2>Dashboard Content Goes Here</h2>
  </main>

  <script src="../js/dashboard.js"></script>
</body>
</html>
